.mat-elevation-z8 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .mat-elevation-z8 .search {
    width: 30%;
  }
  
  .mat-elevation-z8 .table {
    width: 100%;
  }
  
  .mat-elevation-z8 .actions {
    padding: 10px;
  }
  